---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import ThemePicker from '../components/ThemePicker.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bruce Miranda">
  <Navigation />
  <main>
    <Hero />
    <Projects />
    <About />
    <ThemePicker />
  </main>
  <Footer />
</Layout>
~